<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav class="top-nav">
            <ul>
                <li><a class="nav-btn" href="/">Home</a></li>
                <li><a class="nav-btn" href="/tracker">Tracker</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about-content">
            <h2 class="about-title">Powering smarter investing.</h2>
            <p class="about-lede">We came together to help provide users with an intuitive and efficient platform to track their favorite stocks. Our goal is to empower investors with real-time data and insightful analysis.</p>
        </section>
    </main>
</body>
</html>